*{
  margin: 0;
  padding: 0;
}

.AboutUs{
  background-color: rgb(68, 73, 215);
  color: aliceblue;
  margin: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}